<div class="bottom-bar no-print">
  <div class="bottom-bar__content">
    <div class="bottom-bar__text">
        Hello! My name is Alex Ludwig, and I am an Associate Professor of Liberal Arts at Berklee College of Music. I teach music history courses on topics including among others The Beatles, Viennese Modernism, and Film Music. My research interests include Sonata Theory and the role of editing in film musicals. In addition, I have been cataloguing film scores that use the chant melody “Dies Irae.” Check my list and let me know if you’ve found a new one for me.

When I’m not teaching, I’m playing and coaching soccer, or watching hockey, or running after my son, Lucas, or my  dog, Sofi.
      </a>
    </div>
  </div>
</div>
